//  стили страницы "статья"

//  на странице "статья" у текста собственный контейнер (625px), отличающийся от основного
.article-container {
  max-width: 657px;
  padding: 0 16px;
  margin: 0 auto;
}

.article-header {

  &__wrapper {
    max-width: 870px;
    padding: 20px 75px;
    margin: 0 auto;

    border-bottom: 3px solid #F5F5F5;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    @media(max-width: 820px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 23px 40px;
    }

    @media(max-width: 620px) {
      padding: 20px 0 20px 35px;
    }
  }

  & p {
    position: relative;

    &::after {
      position: absolute;
      left: -20px;
    }
  }

  &__name::after {
    content: url("../images/svg/basic-svg/article-header-name.svg");
  }

  &__date::after {
    content: url("../images/svg/basic-svg/article-header-date.svg");
  }

  &__views::after {
    content: url("../images/svg/basic-svg/article-header-views.svg");
  }

  &__date-of-update::after {
    content: url("../images/svg/basic-svg/article-header-date-update.svg");
  }
}

.article-cover {
  @include response-prop("margin-top", 96, 33);

  &__img {
    @include response-prop("margin-top", 20, 12);
  }
}

.article-content {
  @include response-prop("margin-top", 59, 30);

  &__title {
    font-weight: 700;
    font-size: 20px;
    color: $colorBlueLight;
  }

  &__list {
    margin-top: 27px;

    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  &__sublist {
    margin-left: 14px;
  }


}

.article-text {
  @include response-prop("margin-top", 41, 30);

  & p,
  ul {
    margin-top: 10px;
  }

}

.article-text_gray {
  background: rgba(37, 37, 37, 0.1);
  border-radius: 8px;
  padding: 10px 5px;
}

.article-text_yellow {
  background: rgba(255, 184, 0, 0.1);
  border-radius: 8px;
  padding: 10px 5px;

  &::before {
    content: url('../images/svg/content-svg/article-text-svg-yellow.svg');
  }
}

@media(max-width: 480px) {

  .article-text_yellow,
  .article-text_gray {
    background-color: inherit;
    padding: 0 0 0 90px;

    &::before {
      display: none;
    }
  }

}

.article-text_red {
  background: rgba(255, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 5px;

  &::before {
    content: url('../images/svg/content-svg/article-text-svg-red.svg');
  }
}

.article-text_green {
  background: rgba(0, 255, 25, 0.1);
  border-radius: 8px;
  padding: 10px 5px;

  &::before {
    content: url('../images/svg/content-svg/article-text-svg-green.svg');
  }
}

.article-text__by-svg {
  position: relative;
  padding-left: 98px;

  &::before {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translate(0%, -50%);
  }

  & li {
    position: relative;

    &::before {
      position: absolute;
      left: -12px;
      top: 7px;
      content: "";
      width: 4px;
      height: 4px;
      background-color: $mainColor;
      border-radius: 50%;
    }
  }
}


.article-order {
  margin-top: 75px;

  &__inner {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    @include response-prop("padding", 14, 10);
    @include response-prop("width", 596, 448);
    @include response-prop("height", 397, 304);
    overflow: hidden;
  }

  &__title {
    font-weight: 700;
    @include response-prop("font-size", 20, 16);
    @include response-prop(" line-height", 23, 19);
    color: $colorBlueLight;
    margin-left: 20px;
  }

  &__flex {
    display: flex;
    justify-content: end;
    position: relative;

    & p strong {
      font-weight: 500;
    }
  }

  &__image {
    position: absolute;
    z-index: -1;
    @include response-prop("width", 307, 220);
    @include response-prop("height", 383, 290);
    @include response-prop("left", -30, -25);
    @include response-prop("top", -16, -11);
  }

  &__right {
    @include response-prop("margin-top", 34, 28);
    max-width: 317px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__images {
    @include response-prop("margin-top", 43, 33);
    @include response-prop("width", 317, 251);
    display: flex;
    justify-content: space-between;
    gap: 4px;
  }

  &__images-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    span {
      display: block;
      font-weight: 300;
      font-size: 10px;
      line-height: 12px;
      color: $colorBlue;
      text-align: center;
    }

  }

  &__img-mini {
    @include response-prop("width", 26, 20);
    @include response-prop("height", 26, 20);
  }

  &__btn {
    @include response-prop("margin-top", 79, 57);
    @include response-prop("width", 240, 184);
    @include response-prop("height", 43, 33);
  }
}

.article-author {
  @include response-prop ("margin-top", 115, 56);

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 27px;
  }

  &__img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
  }

  &__desc {
    @include response-prop("width", 489, 340)
  }

  &__desc-title {
    span {
      font-weight: 700;
      color: $colorBlueLight;
    }
  }

  &__desc-text {
    margin-top: 15px;
  }
  
}
// -------------------------------